<html>
<head>
{{left_sidebar_enable=False}}
{{right_sidebar_enable=False}}
{{response.files.append(URL('static','css/dids.css'))}}
{{extend 'layout2.html'}}

</head>

<body>

{{block left}}
{{include}}
<div class="did" style="width:100%; magin-top:-200px; background-color: white;"> {{=H1(XML(hashtag))}}</h1></div>

{{for d in dids_left:}}
    {{=d}}
{{pass}}

{{end}}


<!-- center column -->
{{block center}}
{{include}}

{{for d in dids_center:}}
    {{=d}}
{{pass}}

{{end}}


<!-- right column -->
{{block right}}
{{include}}

{{for d in dids_right:}}
    {{=d}}
{{pass}}

{{end}}

</body>
</html>