<html>
<head>
{{left_sidebar_enable=False}}
{{right_sidebar_enable=False}}
{{response.files.append(URL('static','css/dids.css'))}}
{{extend 'layout_3col.html'}}

</head>

<body>

{{block left}}
{{include}}
<div id="did_container" class="span4">
<div class="did" style="width:100%; magin-top:-200px; background-color: white;"> {{=H1(XML(hashtag))}}</h1></div>
{{i = 0}}
{{if len(dids_left) == 0:}}
    <p>There are no Dids</p>
{{else:}}
    {{for d in dids_left:}}
        <div class="did clear" id="{{='d'+str(i)}}" >
            {{=H4(str(d.title))}}
            {{for b in d.body:}}
                {{if b.is_image:}}
                    {{=IMG( _style="width:100%", _src=URL('download', args = db.image(b.element_data).img ))}}
                {{else:}}
                    {{=P(XML(b.element_data.replace('\n','<br />')), _style="word-break: break-word")}}
                {{pass}}
            {{pass}}
            {{=P('posted by: '+str(db.auth_user(d.author_id).email)+' on '+str(d.date_created))}}
            {{=HR( _class="did-sep")}}
            <div class="clear">
            {{if d.author_id != str(auth.user_id):}}
                {{if not d.following:}}
                    {{=A('follow' , _class="btn form-btn f"+str(d.author_id), _title="follow", _onclick="follow("+d.author_id+")") }}
                {{else:}}
                    {{=A('unfollow', _class="btn form-btn f"+str(d.author_id), _title="unfollow", _onclick="unfollow("+d.author_id+")") }}
                {{pass}}
                {{if d.like:}}
                    {{=A('unlike', _class="btn form-btn like", _title="Unlike", _onclick="unlike("+str(d.id)+", this)") }}
                {{else:}}
                    {{=A('like', _class="btn form-btn dont-like", _title="Like", _onclick="like("+str(d.id)+", this)") }}
                {{pass}}
            {{pass}}
            {{=A('comment', _id="com_btn"+str(d.id), _style="float: right", _class="btn form-btn", _onclick="addComment('d"+str(i)+"', "+str(d.id)+", this)") }}
            </div>
            <div id={{=str("com_d"+str(i))}}>
            {{for c in d.comments.render():}}
                {{=DIV( B(str(db.auth_user(c.author_id).first_name +' '+ db.auth_user(c.author_id).last_name))+ ' ' + 
                        P(XML(c.body.replace('\n','<br />')), _style="word-break: break-word"),
                        _class="comment" ) }}
            {{pass}}
            </div>
        </div>
        {{i += 1}}
    {{pass}}
{{pass}}
</div>
{{end}}




{{block center}}
{{include}}
<div id="did_container" class="span4">
{{if len(dids_center) == 0:}}
    <p></p>
{{else:}}
    {{for d in dids_center:}}
        <div class="did clear" id="{{='d'+str(i)}}" >
            {{=H4(str(d.title))}}
            {{for b in d.body:}}
                {{if b.is_image:}}
                    {{=IMG( _style="width:100%", _src=URL('download', args = db.image(b.element_data).img ))}}
                {{else:}}
                    {{=P(XML(b.element_data.replace('\n','<br />')), _style="word-break: break-word")}}
                {{pass}}
            {{pass}}
            {{=P('posted by: '+str(db.auth_user(d.author_id).email)+' on '+str(d.date_created))}}
            {{=HR( _class="did-sep")}}
            <div class="clear">
            {{if d.author_id != str(auth.user_id):}}
                {{if not d.following:}}
                    {{=A('follow' , _class="btn form-btn f"+str(d.author_id), _title="follow", _onclick="follow("+d.author_id+")") }}
                {{else:}}
                    {{=A('unfollow', _class="btn form-btn f"+str(d.author_id), _title="unfollow", _onclick="unfollow("+d.author_id+")") }}
                {{pass}}
                {{if d.like:}}
                    {{=A('unlike', _class="btn form-btn like", _title="Unlike", _onclick="unlike("+str(d.id)+", this)") }}
                {{else:}}
                    {{=A('like', _class="btn form-btn dont-like", _title="Like", _onclick="like("+str(d.id)+", this)") }}
                {{pass}}
            {{pass}}
            {{=A('comment', _id="com_btn"+str(d.id), _style="float: right", _class="btn form-btn", _onclick="addComment('d"+str(i)+"', "+str(d.id)+", this)") }}
            </div>
            <div id={{=str("com_d"+str(i))}}>
            {{for c in d.comments.render():}}
                {{=DIV( B(str(db.auth_user(c.author_id).first_name +' '+ db.auth_user(c.author_id).last_name))+ ' ' + 
                        P(XML(c.body.replace('\n','<br />')), _style="word-break: break-word"),
                        _class="comment" ) }}
            {{pass}}
            </div>
        </div>
        {{i += 1}}
    {{pass}}
{{pass}}
</div>
{{end}}



{{block right}}
{{include}}
<div id="did_container" class="span4">
{{if len(dids_right) == 0:}}
    <p></p>
{{else:}}
    {{for d in dids_right:}}
        <div class="did clear" id="{{='d'+str(i)}}" >
            {{=H4(str(d.title))}}
            {{for b in d.body:}}
                {{if b.is_image:}}
                    {{=IMG( _style="width:100%", _src=URL('download', args = db.image(b.element_data).img ))}}
                {{else:}}
                    {{=P(XML(b.element_data.replace('\n','<br />')), _style="word-break: break-word")}}
                {{pass}}
            {{pass}}
            {{=P('posted by: '+str(db.auth_user(d.author_id).email)+' on '+str(d.date_created))}}
            {{=HR( _class="did-sep")}}
            <div class="clear">
            {{if d.author_id != str(auth.user_id):}}
                {{if not d.following:}}
                    {{=A('follow' , _class="btn form-btn f"+str(d.author_id), _title="follow", _onclick="follow("+d.author_id+")") }}
                {{else:}}
                    {{=A('unfollow', _class="btn form-btn f"+str(d.author_id), _title="unfollow", _onclick="unfollow("+d.author_id+")") }}
                {{pass}}
                {{if d.like:}}
                    {{=A('unlike', _class="btn form-btn like", _title="Unlike", _onclick="unlike("+str(d.id)+", this)") }}
                {{else:}}
                    {{=A('like', _class="btn form-btn dont-like", _title="Like", _onclick="like("+str(d.id)+", this)") }}
                {{pass}}
            {{pass}}
            {{=A('comment', _id="com_btn"+str(d.id), _style="float: right", _class="btn form-btn", _onclick="addComment('d"+str(i)+"', "+str(d.id)+", this)") }}
            </div>
            <div id={{=str("com_d"+str(i))}}>
            {{for c in d.comments.render():}}
                {{=DIV( B(str(db.auth_user(c.author_id).first_name +' '+ db.auth_user(c.author_id).last_name))+ ' ' + 
                        P(XML(c.body.replace('\n','<br />')), _style="word-break: break-word"),
                        _class="comment" ) }}
            {{pass}}
            </div>
        </div>
        {{i += 1}}
    {{pass}}
{{pass}}
</div>
{{end}}
</body>
</html>