<html>
<head>
{{left_sidebar_enable=False}}
{{right_sidebar_enable=False}}
{{response.files.append(URL('static','css/dids.css'))}}
{{extend 'layout2.html'}}

</head>

<body>

{{block left}}
{{include}}
<div id="left_main_container" class="did-span">
    <div class="did" style="background-color: white;"> {{=H1(XML(hashtag), _style="padding:10px; text-align: center;")}}</h1></div>
    {{for d in dids_left:}}
        {{=d}}
    {{pass}}
</div>
{{end}}


<!-- center column -->
{{block center}}
{{include}}
<div id="left_main_container" class="did-span">
    {{for d in dids_center:}}
        {{=d}}
    {{pass}}
</div>
{{end}}


<!-- right column -->
{{block right}}
{{include}}
<div id="left_main_container" class="did-span">
    {{for d in dids_right:}}
        {{=d}}
    {{pass}}
</div>
{{end}}

</body>
</html>