<html>
<head>
{{left_sidebar_enabled=False}}
{{right_sidebar_enabled=False}}

{{response.files.append(URL('static','css/dids.css'))}}

{{extend 'layout2.html'}}

</head>

<body>



<div id="did_container">
<a class="btn" id="new_btn" onclick="newDid();">new did</a>

{{if len(dids) == 0:}}
    <p>There are no Dids</p>
{{else:}}
    {{for d in dids:}}
        <div class="did">
            {{=H4(str(d.title))}}
            {{for b in d.body:}}
                {{if b.is_image:}}
                    {{=IMG( _src=URL('download', args = db.image(b.element_data).img ))}}
                {{else:}}
                    {{=P(str(b.element_data), _style="word-break: break-word")}}
                {{pass}}
            {{pass}}
            {{=P('posted by: '+str(db.auth_user(d.author_id).email)+' on '+str(d.date_created))}}
        </div>
    {{pass}}
{{pass}}
</div>

</body>

<script type="text/javascript" src="{{=URL('static','js/jquery.autosize.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','js/dids.js')}}"></script>

</html>