


<html>
<head>
{{left_sidebar_enabled=False}}
{{right_sidebar_enabled=False}}

{{response.files.append(URL('static','css/dids.css'))}}

{{extend 'layout2.html'}}

</head>

<body>

<div id="profile_container" class="profile">
    <div id="upper_profile" class="upper_profile">  
        <div id="profile_image" ondblclick="editProfileImage();">{{=IMG(_class="profile_image_preview", _src=URL("download", args=user.profile_img))}}</div>
        <div id="followers"><a class="btn" id="followers_btn" >followers</a></div>
        <div id="followers"><a class="btn" id="following_btn" >following</a></div>
        <div id="num_dids"></div>
    </div>
    <div ondblclick="editAbout();" id="lower_profile" class="lower_profile">
        <div id="about" onload="regex_my_text('#about')" class="form-text lower_profile">{{=(user.about)}}</div>
    </div>
</div>


<div id="did_container">
<a class="btn" id="new_btn" onclick="newDid();">new did</a>

{{if len(dids) == 0:}}
    <p>There are no Dids</p>
{{else:}}
    {{i = 0}}
    {{for d in dids:}}
        <div class="did clear" id="{{='d'+str(i)}}">
            {{=H4(str(d.title))}}
            {{for b in d.body:}}
                {{if b.is_image:}}
                    {{=IMG( _src=URL('download', args = db.image(b.element_data).img ))}}
                {{else:}}
                    {{=P(XML(b.element_data.replace('\n','<br />')), _style="word-break: break-word")}}
                {{pass}}
            {{pass}}
            {{=P('posted by: '+str(db.auth_user(d.author_id).email)+' on '+str(d.date_created))}}
            {{=HR( _class="did-sep")}}
            {{=A('comment', _id="com_btn"+str(d.id), _class="btn form-btn", _onclick="addComment('d"+str(i)+"', "+str(d.id)+", this)") }}
            <div id={{=str("com_d"+str(i))}}>
            {{for c in d.comments:}}
                {{=DIV( B(str(db.auth_user(c.author_id).first_name +' '+ db.auth_user(c.author_id).last_name))+ ' ' + 
                        P(XML(c.body.replace('\n','<br />')), _style="word-break: break-word"),
                        _class="comment" ) }}
            {{pass}}
            </div>
        </div>
        {{i += 1}}
    {{pass}}
{{pass}}
</div>

</body>

<script type="text/javascript" src="{{=URL('static','js/jquery.autosize.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','js/dids.js')}}"></script>

</html>