<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
<title>{{=response.title or request.application}}</title>
  <!--[if !HTML5]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
  <![endif]-->
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!-- Always force latest IE rendering engine
       (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta charset="utf-8" />
  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="{{=request.application}}" />
  <!-- Speaking of Google, don't forget to set your site up:
       http://google.com/webmasters -->
  <meta name="google-site-verification" content="" />
  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
        device-width: Occupy full width of the screen in its current orientation
        initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
        user-scalable = yes allows the user to zoom in -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

  <!-- All JavaScript at the bottom, except for Modernizr which enables
       HTML5 elements & feature detects -->
  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

  <!-- include stylesheets -->
  {{
  response.files.insert(0,URL('static','css/web2py.css'))
  response.files.insert(1,URL('static','css/bootstrap.min.css'))
  response.files.insert(3,URL('static','css/bootstrap-responsive.min.css'))
  response.files.insert(4,URL('static','css/web2py_bootstrap.css'))
  }}

  {{include 'web2py_ajax.html'}}

  <noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>
</head>
<body>

  <!-- Custom Navbar -->
  <div class="dids-navbar" style="position: fixed; top: 0px; width: 100%;">
    <div class="flash">{{=response.flash or ''}}</div>
    <div class="dids-navbar clear">
        <div class="logo-container">
            <a><img id="logo" src="{{=URL('static', 'images/dids.png')}}"></img></a>
        </div>
        <div class='dids-btn-container' align='center'>
            <a href="{{=URL('default','index')}}"><img id="feed-btn" class='dids-btn' title="Home" src="{{=URL('static','images/feed-default.png')}}"></img></a>
            <a href="{{=URL('default','index', args=['explore'])}}"><img id="explore-btn" class='dids-btn' title="Explore" src="{{=URL('static','images/explore-default.png')}}"></img></a>
            <a href="{{=URL('default','index', args=['followers'])}}"><img id="followers-btn" class='dids-btn' title="Followers" src="{{=URL('static','images/followers-default.png')}}"></img></a>
            <a href="{{=URL('default','index', args=['top'])}}"><img id="top-btn" class='dids-btn' title="Top Dids" src="{{=URL('static','images/top-default.png')}}"></img></a>
        </div>
        <div id="dids-menu-right-container">
            <a id="dids-menu-title">{{=db.users(auth.user_id).username}} <img style="width: 10px; height: 10px;" src="{{=URL('static', 'images/menu-arrow.png')}}"></img></a>
            <div id="dids-menu-right">
                <a href="{{=URL('default','profile')}}" class="dids-menu-right-item">My Profile</a>
                <a href="{{=URL('default','user', args=['profile'])}}" class="dids-menu-right-item">Account Settings</a>
                <a href="{{=URL('default','user', args=['change_password'])}}" class="dids-menu-right-item">Change Password</a>
                <a href="{{=URL('default','user', args=['logout'])}}" class="dids-menu-right-item">Sign Out</a>
            </div>
        </div>
    </div>
  </div> 
  <!-- </navbar> -->
  
  <div class="container" style="margin-top: 40px;">
    <!-- Masthead ================================================== -->

    <section id="main" class="main row">
        <div class="span3 left-sidebar"></div>

        <div class="span6" id="main_container">
            {{block center}}
            {{include}}
            {{end}}
        </div>

        <div class="span3"></div>
    </section><!--/main-->

    <!-- Footer ================================================== -->
    <div class="row">
        <footer class="footer span12" id="footer">
            <div class="footer-content">
                {{block footer}} <!-- this is default footer -->
                <div class="copyright pull-left">{{=T('Copyright')}} &#169; {{=request.now.year}}</div>
                <div id="poweredBy" class="pull-right">
                    {{=T('Powered by')}}
                    <a href="http://www.web2py.com/">web2py</a>
                </div>
                {{end}}
            </div>
        </footer>
    </div>

  </div> <!-- /container -->

  <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>
  <script>
  {{if request.args:}}
      var arg = '{{=request.args[0]}}';
  {{else:}}
      var arg = 'feed';
      var new_url = "{{=URL('static', 'images/new-default.png')}}";
      $('.dids-btn-container').append('<a><img id="new-btn" onclick="newDid();"class="dids-btn" title="New Did" src="'+new_url+'"></img></a>');
  {{pass}}
  var img_url = "{{=URL('static','images/')}}" + arg + '-selected.png';
  $('#'+arg+'-btn').attr('src',img_url);
  
  var btns = new Set(['feed', 'explore', 'followers', 'top', 'new']);
  btns.delete(arg);
 
  btns.forEach(function(name){
      img_url = "{{=URL('static','images/')}}";
      $('#'+name+'-btn').on('mouseover', function(){
          $('#'+name+'-btn').attr('src',img_url + name + '-selected.png');
      });
      $('#'+name+'-btn').on('mouseout', function(){
          $('#'+name+'-btn').attr('src',img_url + name + '-default.png');
      });
  });
  
  </script>
  <!--[if lt IE 7 ]>
      <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
      <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
      <![endif]-->
  
  {{if response.google_analytics_id:}}
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{=response.google_analytics_id}}', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- End Google Analytics -->
  {{pass}}
</body>
</html>