<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
<title>{{=response.title or request.application}}</title>
  <!--[if !HTML5]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
  <![endif]-->
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!-- Always force latest IE rendering engine
       (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta charset="utf-8" />
  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="{{=request.application}}" />
  <!-- Speaking of Google, don't forget to set your site up:
       http://google.com/webmasters -->
  <meta name="google-site-verification" content="" />
  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
        device-width: Occupy full width of the screen in its current orientation
        initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
        user-scalable = yes allows the user to zoom in -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

  <!-- All JavaScript at the bottom, except for Modernizr which enables
       HTML5 elements & feature detects -->
  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

  <!-- include stylesheets -->
  {{
  response.files.insert(0,URL('static','css/web2py.css'))
  response.files.insert(1,URL('static','css/bootstrap.min.css'))
  response.files.insert(3,URL('static','css/bootstrap-responsive.min.css'))
  response.files.insert(4,URL('static','css/web2py_bootstrap.css'))
  }}

  {{include 'web2py_ajax.html'}}

  <noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>

</head>
<body>

  <!-- Custom Navbar -->
  <div class="dids-navbar" style="position: fixed; top: 0px; width: 100%;">
    <div class="flash">{{=response.flash or ''}}</div>
    <div class="dids-navbar clear">
        <div class="logo-container">
            <a><img id="logo" src="{{=URL('static', 'images/dids.png')}}"></img></a>
        </div>
        <div id='dbc' class='dids-btn-container'>
            <a href="{{=URL('default','index')}}"><img id="feed-btn" class='dids-btn' title="Home" src="{{=URL('static','images/feed-default.png')}}"></img></a>
            <a href="{{=URL('default','index', args=['explore'])}}"><img id="explore-btn" class='dids-btn' title="Explore" src="{{=URL('static','images/explore-default.png')}}"></img></a>
            <a href="{{=URL('default','index', args=['top'])}}"><img id="top-btn" class='dids-btn' title="Top Dids" src="{{=URL('static','images/top-default.png')}}"></img></a>
            <a href="{{=URL('default','profile', args=['bucketlist'])}}"><img id="top-btn" class='dids-btn' title="Bucketlist" src="{{=URL('static','images/bucket.png')}}"></img></a>
            <a href="{{=URL('default','profile')}}"><img id="top-btn" class='dids-btn' title="Profile" src="{{=URL('static','images/castle.png')}}"></img></a>
        </div>
        <div id="dids-menu-right-container">
            <a id="dids-menu-title">{{=db.users(auth.user_id).username}} <img style="width: 10px; height: 10px;" src="{{=URL('static', 'images/menu-arrow.png')}}"></img></a>
            <div id="dids-menu-right">
                <a href="{{=URL('default','profile')}}" class="dids-menu-right-item">My Profile</a>
                <a href="{{=URL('default','user', args=['profile'])}}" class="dids-menu-right-item">Account Settings</a>
                <a href="{{=URL('default','user', args=['change_password'])}}" class="dids-menu-right-item">Change Password</a>
                <a href="{{=URL('default','user', args=['logout'])}}" class="dids-menu-right-item">Sign Out</a>
            </div>
        </div>
    </div>
  </div> 
  <!-- </navbar> -->
  
  <div class="container main-container" style="width: auto;">
    <!-- Masthead ================================================== -->

    <section id="main" class="main row" style="min-height: 50%;">
  
        {{block left}}
        {{include}}
        {{end}}
        
        {{block center}}
        {{include}}
        {{end}}
        
        {{block right}}
        {{include}}
        {{end}}

        <!-- <div class="span3 left-sidebar"></div>
        
        <div class="span6" id="main_container">
            {{#block center}} 
            {{#include}}   
            {{#end}} 
        </div>

        <div class="span3"></div> -->
    </section><!--/main-->

    <!-- Footer ================================================== -->
    <div class="row" style="text-align: center;">
        <footer class="footer span12" id="footer" style="display: inline-block; margin: auto 0px; width: 100%">
            <div class="footer-content">
                {{block footer}} <!-- this is default footer -->
                <div class="copyright pull-left">{{=T('Copyright')}} &#169; {{=request.now.year}}</div>
                <div id="poweredBy" class="pull-right">
                    {{=T('Powered by')}}
                    <a href="http://www.web2py.com/">web2py</a>
                </div>
                {{end}}
            </div>
        </footer>
    </div>

  </div> <!-- /container -->

  <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->


  <script type="text/javascript" src="{{=URL('static','js/jquery.autosize.js')}}"></script>
  <script type="text/javascript" src="{{=URL('static','js/dids.js')}}"></script>
  <script type="text/javascript" src="{{=URL('static','js/spin.js')}}"></script>
 


  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>
  
  <script>
  {{if request.args:}}
  var arg = '{{=request.args[0]}}';
  {{else:}}
  var arg = 'feed';
  var new_url = "{{=URL('static', 'images/new-default.png')}}";
  $('#dbc').append('<a><img id="new-btn" onclick="newDid();"class="dids-btn" title="New Did" src="'+new_url+'"></img></a>');
  {{pass}}
  var img_url = "{{=URL('static','images/')}}" + arg + '-selected.png';
  $('#'+arg+'-btn').attr('src',img_url);
  
  var btns = new Set(['feed', 'explore', 'top', 'new']);
  btns.delete(arg);
 
  btns.forEach(function(name){
      img_url = "{{=URL('static','images/')}}";
      $('#'+name+'-btn').on('mouseover', function(){
          $('#'+name+'-btn').attr('src',img_url + name + '-selected.png');
      });
      $('#'+name+'-btn').on('mouseout', function(){
          $('#'+name+'-btn').attr('src',img_url + name + '-default.png');
      });
  });


 

/* Generates a new editable did */
var newDid = function(){
    ++new_count;
    var did_string = '<div class="did clear" id="new' + new_count + '">'

                    +'{{=A(auth.user.username, _href=URL("default","profile", args=[auth.user.username]), _class="did-author")}}'
                    +'<div class="spin_div" id="spin_div" ></div>'
                    +'<form id="did_form" enctype="multipart/form-data" action="create_did" method="post">'
                    +'<input class="form-title" name="did_title" type="text"/>'
                    +'<input name="div_id" type="hidden" value="new' + new_count + '" />'
                    +'</form>'
                    +'<div id="actions" style="margin-left: 10px; margin-right: 10px;">'
                    +'<a class="btn form-btn" onclick="addText()">add text</a>'
                    +'<a class="btn form-btn" onclick="addImage()">add image</a>'
                    +'<a class="btn form-btn" onclick="rmElement()">remove element</a>'
                    +'<a style="float: right" class="btn form-btn" onclick="publishDid();">publish</a>'
                    +'<a style="float: right" class="btn form-btn" onclick="cancelNewDid('+new_count+');">cancel</a>'
                    +'</div>'
                    +'</div>';
    $('#did_container').prepend(did_string);
    
    $('#did_form').submit(function(event){
        event.preventDefault(); 
        var fd = new FormData(this);
    
        $.ajax({
            url: "{{=URL('default','create_did')}}",
            data: fd,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function(data){
                $('#new'+new_count).replaceWith(data);
                $('#new-btn').show();
            }
        });
    });
    $('#new-btn').hide()
}

/* adds a comment field and cancel/submit buttons */
var addComment = function(div_id, did_id, com_btn){
    
    var parent = $(com_btn).closest('div');
    var com_id = "com"+com_count;
    
    // prepend comment form to comment section
    $(parent).append('<div id="'+com_id+'" class="clear"><form id="'+com_id+'_form">'
                        +'<textarea name="comment" id="com_text'+div_id+'" class="form-text animated"></textarea>'
                        +'<input name="did_id" type="hidden" value="'+did_id+'" />'
                        +'<a id="submit'+did_id+'" class="btn form-btn" style="float:right">submit</a>'
                        +'<a id="cancel'+did_id+'" class="btn form-btn" style="float:right">cancel</a>'
                        +'</form></div>');
    $('#com_text'+div_id).autosize();
    
    // submit comment when submit button is clicked
    $('#submit'+did_id).click(function(){
        $('#'+com_id+'_form').submit();
    });
    
    
    // removes text-area when cancel is clicked
    $('#cancel'+did_id).click(function(){
        $('#'+com_id).remove();
        $(com_btn).show();
        com_count--;
    });
    
    // submit comment form
    $('#'+com_id+'_form').submit(function(event){
        event.preventDefault(); 
        var fd = new FormData(this);
    
        $.ajax({
            url: "{{=URL('default','add_comment')}}",
            data: fd,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function(data){
                //remove comment form
                $('#'+com_id).remove();
                // show add comment button
                $(com_btn).show();
                if ($('.toggle-coms', parent).html().substring(0,4) == 'show'){
                    $('.toggle-coms', parent).click();
                }
                //add new comment to top of comments
                $('#com_'+div_id).prepend(data);
            }
        });
    });
    
    // hide comment button
    $(com_btn).hide();
    com_count++;
}


function resample_hermite(canvas, W, H, W2, H2){
    var time1 = Date.now();
    W2 = Math.round(W2);
    H2 = Math.round(H2);
    var img = canvas.getContext("2d").getImageData(0, 0, W, H);
    var img2 = canvas.getContext("2d").getImageData(0, 0, W2, H2);
    var data = img.data;
    var data2 = img2.data;
    var ratio_w = W / W2;
    var ratio_h = H / H2;
    var ratio_w_half = Math.ceil(ratio_w/2);
    var ratio_h_half = Math.ceil(ratio_h/2);

    for(var j = 0; j < H2; j++){
        for(var i = 0; i < W2; i++){
            var x2 = (i + j*W2) * 4;
            var weight = 0;
            var weights = 0;
            var weights_alpha = 0;
            var gx_r = gx_g = gx_b = gx_a = 0;
            var center_y = (j + 0.5) * ratio_h;
            for(var yy = Math.floor(j * ratio_h); yy < (j + 1) * ratio_h; yy++){
                var dy = Math.abs(center_y - (yy + 0.5)) / ratio_h_half;
                var center_x = (i + 0.5) * ratio_w;
                var w0 = dy*dy //pre-calc part of w
                for(var xx = Math.floor(i * ratio_w); xx < (i + 1) * ratio_w; xx++){
                    var dx = Math.abs(center_x - (xx + 0.5)) / ratio_w_half;
                    var w = Math.sqrt(w0 + dx*dx);
                    if(w >= -1 && w <= 1){
                        //hermite filter
                        weight = 2 * w*w*w - 3*w*w + 1;
                        if(weight > 0){
                            dx = 4*(xx + yy*W);
                            //alpha
                            gx_a += weight * data[dx + 3];
                            weights_alpha += weight;
                            //colors
                            if(data[dx + 3] < 255)
                                    weight = weight * data[dx + 3] / 250;
                            gx_r += weight * data[dx];
                            gx_g += weight * data[dx + 1];
                            gx_b += weight * data[dx + 2];
                            weights += weight;
                        }
                    }
                }
            }
            data2[x2] = gx_r / weights;
            data2[x2 + 1] = gx_g / weights;
            data2[x2 + 2] = gx_b / weights;
            data2[x2 + 3] = gx_a / weights_alpha;
        }
    }
    console.log("hermite = "+(Math.round(Date.now() - time1)/1000)+" s");
    canvas.getContext("2d").clearRect(0, 0, Math.max(W, W2), Math.max(H, H2));
    canvas.width = W2;
    canvas.height = H2;
    canvas.getContext("2d").putImageData(img2, 0, 0);
}


/**
* Creates and returns a blob from a data URL (either base64 encoded or not).
* https://github.com/ebidel/filer.js/blob/master/src/filer.js#L137
* @param {string} dataURL The data URL to convert.
* @return {Blob} A blob representing the array buffer data.
*/
// currently not in use
var dataURLToBlob = function(dataURL) {
    var BASE64_MARKER = ';base64,';
    if (dataURL.indexOf(BASE64_MARKER) == -1) {
        var parts = dataURL.split(',');
        var contentType = parts[0].split(':')[1];
        var raw = decodeURIComponent(parts[1]);
        return new Blob([raw], {type: contentType});
    }
    var parts = dataURL.split(BASE64_MARKER);
    var contentType = parts[0].split(':')[1];
    var raw = window.atob(parts[1]);
    var rawLength = raw.length;
    var uInt8Array = new Uint8Array(rawLength);
    for (var i = 0; i < rawLength; ++i) {
        uInt8Array[i] = raw.charCodeAt(i);
    }
    return new Blob([uInt8Array], {type: contentType});
};




var resize = function(images, div_id, profile, elem_id, profile_background) {
    if(images.files && images.files[0]){
        var opts = {
            lines: 9, // The number of lines to draw
            length:3.5, // The length of each line
            width: 3, // The line thickness
            radius: 3.5, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 71, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#000', // #rgb or #rrggbb or array of colors
            speed: 1.0, // Rounds per second
            trail: 46, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: '80%', // Top position relative to parent
            left: '49%', // Left position relative to parent
        };

        
        //var temp_div = document.createElement('div');
        //temp_div.attr('id', 'temp_div');
        var spin_div = document.getElementById('spin_div');
        spin_div.style.position = 'relative';
        //spin_div.appendChild(temp_div);
        var spinner = new Spinner(opts).spin(spin_div);
        var reader = new FileReader();
        var image  = new Image();
        var file = images.files[0];
        var file_name = file.name;
        reader.readAsDataURL(file);  
        reader.onload = function(_file) {
            image.src    = _file.target.result;              // url.createObjectURL(file);
            image.onload = function() {
                spinner.stop();
                //spin_div.remove();
                var resize;
                var canvas = document.createElement('canvas');
                var ctx = canvas.getContext("2d");
                var W = this.width;
                var H = this.height;
                canvas.width = W;
                canvas.height = H;

                //var t = file.type;                         // ext only: // file.type.split('/')[1],
                //n = file.name                              // can be used to validate files
                //s = ~~(file.size/1024) +'KB';              // can be used to check maximum file size uploads
                
                if (profile) {

                    console.log(file.size);
                    var ratio = 310/W;
                    console.log(W);
                    ctx.drawImage(image, 0, 0); //draw image
                    resample_hermite(canvas, W, H, 310.0, H*ratio);

                    $('#'+div_id).attr('src', canvas.toDataURL('image/jpeg'));
                    console.log("here is where I am suppose to be");
                    var resize = canvas.toDataURL('image/jpeg');
                    var fd = new FormData();
                    fd.append('name', 'img_data');
                    fd.append('is_profile', 'true');
                    fd.append('filename', file_name);
                    fd.append('file', resize);
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "{{=URL('default','update_profile')}}");
                    xhr.send(fd);
                    return;
                }else if(profile_background) {
                    console.log(file.size);
                    var ratio = 1240/W;
                    console.log(W);
                    ctx.drawImage(image, 0, 0); //draw image
                    resample_hermite(canvas, W, H, 1240.0, H*ratio);
                    $('#upper_profile').css('background-image', 'url('+ canvas.toDataURL('image/jpeg') + ')');
                    $('#image').remove();
                    $('#hidden').attr('value', canvas.toDataURL('image/jpeg')); 
                    $('#image_form').submit(); 
                    $('#edit_div').remove();
                    return;
                }else{
                    console.log(file.size);
                    var ratio = 1240/W;
                    console.log(W);
                    ctx.drawImage(image, 0, 0); //draw image
                    resample_hermite(canvas, W, H, 1240.0, H*ratio);
                    
                    $('#'+div_id).html(
                    '<img style="width: 100%;" src="'+ canvas.toDataURL('image/jpeg') +'"></img>');
                    $('#'+elem_id).remove();
                    $('#hidden_'+elem_id).attr('value', canvas.toDataURL('image/jpeg'));

                    return;
                };
            }  
        }
    }
}

var drop_edit_page = function() {
    $('#profile_container').append('<div id="edit_page" style="color:#0b0b0b;width:100%; height:300px; background-image: '
                    +'url('+ "{{=URL('static', 'images', args=['aluminum.png'])}}" + ');"> white text white text '
                    +'<div class="drop_edit_box"></div>'
                    +'<div class="drop_edit_box"></div>' 
                    +'<div class="drop_edit_box"></div>'
                    +'</div> '
                    +'<div  id="upbar" style="float:bottom; text-align:center; width:100%; height:20px; background-image: '
                    +'url('+ "{{=URL('static', 'images', args=['steel.jpg'])}}" 
                    + ');" onclick="lift_edit_page();">^^^ Put Away ^^^</div>');

    $('#edit_page').hide();
    $('#edit_page').slideDown(200);
    $('#edit_bar').attr('onclick', 'lift_edit_page();');

}

var lift_edit_page = function() {
    $('#edit_page').slideUp(100, function() {
        $('#upbar').remove();
        $('#edit_page').remove();
        $('#edit_bar').attr('onclick', 'drop_edit_page();');
        }
    );
}


var editProfileImage = function() {
    $('#middle_profile').prepend('<div id=edit_div type="hidden">'
                         +'<form id="image_form" style="padding:0px; margin:0px;"type="hidden" enctype="multipart/form-data" action="update_profile" method="post">'
                         +'<input id="image" class="hidden" name="image" type="file"/>'
                         +'<input name="is_profile" type="hidden" value="True"/>'
                         +'</form>'
                         +'</div>');
    $('#image').hide();
    $('#image').click();
    console.log('image sent\n')
    $('#image').change(function(){
        console.log("in in image change");
        resize(this, 'profile_img', profile=true, elem_id=undefined, profile_background=false);
    });
    return;
}


var editProfileBackgroundImage = function() {
    $('#upper_profile').prepend('<div id=edit_div type="hidden">'
                         +'<form id="image_form" style="padding:0px; margin:0px;"type="hidden" enctype="multipart/form-data" action="update_profile" method="post">'
                         +'<input id="image" name="image" type="file"/>'
                         +'<input type="hidden" name="background" id="hidden" value="" />'
                         +'<input name="is_background" type="hidden" value="True"/>'
                         +'</form>'
                         +'</div>');
    $('#image').hide();
    $('#image').click();
    console.log('image sent\n')
    $('#image').change(function(){
        console.log("in in image change");
        resize(this, 'upper_profile', profile=false, elem_id=undefined, profile_background=true);
    });
    $('#image_form').submit(function(event){
        event.preventDefault(); 
        var up = new FormData(this);
        $.ajax({
            url: "{{=URL('default','update_profile')}}",
            data: up,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function(data){
            }
        });
    }); 

    return;
}


var editAbout = function() {
    $('#about').hide();
    var user_about = $('#about').text();
    $('#lower_profile').append('<div id="edit_div" >'
                        +'<form id="profile_form" enctype="multipart/form-data" action="update_profile" method="post">'
                        +'</form>'
                        +'</div>');
    console.log("in editAbout");
    $('#profile_form').prepend('<textarea maxLength="128" id="editing_about" class="about-text animated" name="about">'+user_about+'</textarea>');
    console.log(user_about);
    $('#editing_about').focus();

    // on.blur() function for text area
    $('#editing_about').on('blur', function(){
        console.log('in blur function');
        $('#about').html(linkify($('#editing_about').val()));
        updateProfile();
        $('#profile_form').remove();
        $('#edit_div').remove();
        $('#about').show();
    });
    // sumbit instrructions for about textarea form
    $('#profile_form').submit(function(event){
        event.preventDefault(); 
        var up = new FormData(this);
       $.ajax({
            url: "{{=URL('default','update_profile')}}",
            data: up,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function(data){
            }
        });
    }); 
    return;
}

var updateProfile = function(){
    console.log('in updateProfile');
    $('#profile_form').submit();
}


/* Adds an image upload field to the new did being edited */
var addImage = function(){
    var prev_div_id = "img_prev" + elem_count; 
    var elem_id = "elem" + elem_count;
    
    $('#did_form').append('<div id="'+ prev_div_id +'" class="image-preview">'
                         +'<img id="add_img" style="width: 100%;" src="{{=URL('static','images/addimage.png')}}"></img>'
                         +'</div>'
                         +'<input id="'+ elem_id +'" name="temp" type="file"/>'
                         +'<input type="hidden" name="'+ elem_id +'" id="hidden_'+elem_id+'" value="" />'
                         +'<input name="is_img'+ elem_count +'" type="hidden" value="True" />');                    
    
    $('#'+elem_id).hide();
    $('#'+ elem_id ).change(function(){
        document.canvas = new 
        resize(this, prev_div_id, profile=false, elem_id=elem_id, profile_background=false);
    });
    
    $('#'+prev_div_id).click(function(e){
        e.preventDefault();
        $('#'+elem_id).trigger('click');
    });
    
    elem_count++;
};

/* follow a user */
var follow = function(user_id){
    // add follower to db and all that
    $.ajax({
        url: "{{=URL('default','follow')}}",
        data: {'following_id': user_id},
        type: 'POST',
        success: function(data){
            $('.f'+user_id).replaceWith('<a title="unfollow" class="btn form-btn f'+user_id+'" onclick="unfollow('+user_id+', this)">unfollow</a>');
        }
    });
}

/* unfollow a user */
var unfollow = function(user_id){
    $.ajax({
        url: "{{=URL('default','unfollow')}}",
        data: {'following_id': user_id},
        type: 'POST',
        success: function(){
            $('.f'+user_id).replaceWith('<a title="follow" class="btn form-btn f'+user_id+'" onclick="follow('+user_id+', this)">follow</a>');
        }
    });
}

/* like a did */
var like = function(did_id, l_btn){
    $.ajax({
        url: "{{=URL('default','like')}}",
        data: {'did_id': did_id},
        type: 'POST',
        success: function(){
            $(l_btn).replaceWith('<a title="Unlike" class="btn form-btn like" onclick="unlike('+did_id+', this)">unlike</a>');
            $('#l'+did_id).html( parseInt($('#l'+did_id).html()) + 1 );
        }
    });
}

/* unlike a did */
var unlike = function(did_id, l_btn){
    $.ajax({
        url: "{{=URL('default','unlike')}}",
        data: {'did_id': did_id},
        type: 'POST',
        success: function(){
            $(l_btn).replaceWith('<a title="Like" class="btn form-btn dont-like" onclick="like('+did_id+', this)">like</a>');
            $('#l'+did_id).html( parseInt($('#l'+did_id).html()) - 1 );
        }
    });
}
</script>

  <!--[if lt IE 7 ]>
      <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
      <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
      <![endif]-->
  
  {{if response.google_analytics_id:}}
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{=response.google_analytics_id}}', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- End Google Analytics -->
  {{pass}}
</body>

</html>