/*
    style sheet for dids!
    first css stylesheet evar!
*/
html{
    overflow-y: scroll;
}

body{
    /* background: #295887 top right no-repeat; */
    background: top right no-repeat;
    background-size: 100% 100%;
    background-image: url('../images/dids_back.jpg');
    background-attachment: fixed;
    text-align: center;
}

.main-container{
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px; 
}

.did{
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 5px;
}
.text-element{
    word-break: break-word;
    margin: 10px;
}

.spin_div {
    float:left; 
    margin-top:11.5px; 
    margin-left:17px;
}
.did-author{
    margin-left: 10px;
    margin-bottom: 5px;
    display: inline-block;
    float:left;
    float:top;


}
.did-author:hover{
    text-decoration: none;
}
.did-title{
    margin-left: 10px;
    margin-top: 5px;
    clear:both;
}
.did-actions{
    margin-left: 10px;
    margin-right: 10px;
}
.likes{
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px;
    margin-top: 10px;
    padding: 4px;
    background-color: white;
    border-radius: 5px;
}
.image-preview{
    width: 100%;
    margin-top: 10px;
    margin: 0px;
}
.comment{
    background-color: white;
    border-radius: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
.comment-container{
    display: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.clear:after{
    clear: both;
    content: "";
    display: table;
}

.form-text{
    width: 96%;
    max-width: 96%;
    resize: none;
    margin: 10px;
    margin-top: 5px;
    border-radius: 5px;
}
.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}
.about-text {
  width: 100%;
  max-width: 100%;
  resize: none;
  border: 0px;
  margin-bottom: 0px;
  border-radius: 5px;
}

input.form-title{
    height: 26px;
    font-size: 18px;
    width: 96%;
    margin: 10px;
    margin-top: 5px;
    border-radius: 5px;
}
.form-btn{
    margin-top: 10px;
    margin-right: 2px;
}

.did-sep{
    margin: 1px;
    height: 1px;
    border: 0px;
    background-color: #DDD;
}


/*################################################################
################ profile.html related css
################
#################################################################*/


.dids-navbar{
    height: 60px;
    /* background-color: #113355; */
    background: linear-gradient( #113355, #022030);
    -moz-user-select: none; 
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    text-align: center;
}

.logo-container{
    float: left;
    margin-left: 0px;
    width: 300px;
    padding-left: 40px;
    height: 80%;
    margin-top: 5px;
    text-align: left;
}

.dids-btn-container-big{
    width: 540px;
    display: inline-block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.dids-btn-container{
    width: 440px;
    display: inline-block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.dids-btn{
    margin-top: 4px;
    height: 50px;
    border: 2px solid #3377AA;
    border-radius: 5px;
    display: inline-block;
    cursor: default;
}

.toggle-coms{
    margin-top: 10px;
    float: right;
    padding: 5px;
    margin-right: 5px;
}
.toggle-coms:hover{
    cursor: pointer;
}



.dids-menu-right-item{
    display: block;
    color: white;
    margin: 10px;
    padding: 0px 20px;
    cursor: pointer;
}
.dids-menu-right-item:hover{
    text-decoration: none;
    color:  #3377AA;
}

#main{
    display: block;
    width: auto;
    text-align: center;
}

#logo{
    width: 140px;
    height:100%;
}

#dids-menu-right-container{
    /* border: 2px solid white; */
    height: 100%;
    width: 340px;
    display: inline-block;
    float: right;
    text-align: right;
    margin-left: 30px;
}

#dids-menu-title, .dids-menu-title:hover{
    text-align: right;
    text-decoration: none;
    font-size: 20px;
    cursor: default;
    color:  #3377AA;
    display: block;
    padding: 20px;
    padding-right: 60px;
}

#dids-menu-right{
    text-align: right;
    float: right;
    display: none;
    background-color: #113355;
    border-radius: 5px;
    margin-right: 40px;
}

#did_form{
    margin: 0px;
}


.profile{
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 0px;
    padding-right:0px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.drop_edit_box {
    margin-top:10px;
    margin-left: 10.4%;
    background-color: #e6eeee;
    width:20%;
    height: 40px;
    float: top;
    float:left;
}

#upper_profile:hover {
    background-color: black;
    opacity: 80%;
}

#upper_profile{
    height: 200px; 
    clear:both;
}

#upper_profile{
    height: 200px;
}

.check_upper_right {
    width:20px;
    height:20px;
    float:right;
    margin-right: 5px;
}

#edit_profile_btn {
    text-align: center;
    width:200px;
    float:left;
    float: top;
    margin-left: 10%;
    margin-top: 10px;
    background-color: orange;
    padding-left: 0px;
    border: 2px solid orange;
    border-radius: 5px;

}
.profile_text {
    margin-right: 8%;
    margin-top: 0px;
    float:right;
    text-align: center;
    color: black;
}

.profile_image_preview{
    float: left;
    height: 140px;
    width: 140px;
    margin-left: 10px;
    margin-top: -60px;
    border-color: 2px solid white;
    border-width: 20px;
    border-radius: 15%;
    padding: 5px;
    z-index: 9999;
}


#profile_container{

}

#lower_profile{
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    
}

#profile_author_name{
    margin-left: 0px;
}

#profile_username{
    margin-left: 10px;
    margin-top: 0px;
    padding: 1px;
    float:left;
    float: bottom;
    clear:both;
    
}

#about{
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}
#followers{
    float: left;
    float: top;
    margin-top:6%;
    margin-left: 10%;
}


.did-span{
    width: 440px;
    padding: 10px;
    text-align: left;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.did-span-big{
    width: 540px;
    padding: 10px;
    text-align: left;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

textarea.about-text {
  width: 100%;
  max-width: 100%;
  resize: none;
  border: 0px;
  margin-bottom: 0px;
  border-radius: 5px;
}

.followers_image_preview{
    float: left;
    margin-left: 0px;
    height: 100%;
    width: 70px;
    border: 0px solid white;
    border-radius: 15%;

}


.not_img_preview{
    float: right;

    height: 100%;
    width: 70px;
    border: 0px solid white;
    border-radius: 15%;

}


#followers_listing_username{
    margin-top: 25px;
    margin-left: 20%;
    float: left;
}


#not_listing_text{
    margin-top: 25px;
    margin-left: 5%;
    float: left;
}


#followers_listing_text{
    margin-top: 55px;
    margin-left: 20%;
    float: bottom;
}


.followers_listing_follow_btn {
    float:right;
    margin-right: 5%;
    margin-top: 20px;
}

.followers_listing{
    height: 70px; 
    width:100%; 
    background-color: white; 
    margin-top: -1px;
    border: 1px solid #D3d3d3;

    padding: 10px;
    border-collapse:collapse;
}

#new-btn{
    float: right;
}
